
@import url('<link href="https://fonts.googleapis.com/css?family=Courgette|Niconne|Poppins:500&display=swap" rel="stylesheet">');
body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 228);
    font-family: 'Courgette', cursive;
}
.main {
    padding: 0 10em;
   
    display: flex;
    justify-content: center;
    align-items: center;
  
}

 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 2em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    text-align: justify;
} 
.photo {
    position: relative;
    margin-left: 25vw;
    padding: 2em;
    justify-content: center;
    height: 20em;
    width: 20em;
}

#time {
     text-align: center;
     font-size: 2em;
     margin-top: 1em;
}


 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;



}

ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(4, 24, 6);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}


/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
   
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: -10px;
  left: 0;
}
.menu {
  
    width: 30vw;
    background-color: #070a0e;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.up {
  
  background: rgb(111, 248, 156);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


@media (max-width:1024px){

    body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 228);
    font-family: 'Courgette', cursive;
}
.main {
    padding: 0 1em;
   
    display: flex;
    justify-content: center;
    align-items: center;
  
}

 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 1em;
    font-size: 1.5em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    text-align: justify;
} 
.photo {
    margin: 0;
    position: relative;
    float: right;
    padding: 1em;
    justify-content: center;
    height: 10em;
    width: 10em;
}

#time {
     text-align: center;
     font-size: 1em;
     margin-top: 1em;
}


 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;
display: none;


}

ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(4, 24, 6);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}


/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
   
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: -10px;
  left: 0;
}
.menu {
   
    width: 30vw;
    background-color: #070a0e;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
    color: white;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.up {
  
  background: rgb(111, 248, 156);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

}
@media (max-width:800px){

    .photo {
    position: relative;
   text-align: center;
    padding: 2em;
    
    height: 10em;
    width: 10em;
}

.box {
    margin: 1em  1em;
    position: relative;
    max-width: 100vw;
    padding: 3em;
    background: rgba(231, 233, 238, 0.472);
    box-shadow: 0 0.4em 1em rgb(0, 0, 0 ,.5);
}

.main {
    padding: 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
  
}
}
@media (max-width:400px){

    
.main {
    padding: 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
  

}

p {
    margin: 0;
    padding: 0.5em;
    font-size: 0.9em;
    text-align: justify;
} 

h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 1em;
    color: #05131a;
    text-transform: uppercase;
}
}