
@import url('<link href="https://fonts.googleapis.com/css?family=Courgette|Niconne|Poppins:500&display=swap" rel="stylesheet">');
body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 228);
    font-family: 'Courgette', cursive;
}


/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
   
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: rgb(220, 241, 228);
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: -10px;
  left: 0;
}
.menu {
  
    width: 30vw;
    background-color: #070a0e;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.main {
    padding: 0 10em;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}


 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 3em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
} 
.photo {
    position: relative;
    float: left;
    padding: 2em;
    height: 10em;
    width: 10em;
}

#time {
     text-align: center;
     font-size: 1.2em;
     margin-top: 1em;
}

    
 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 1em;
text-align: center;



}
ul li {
    list-style: none;
    font-size: 2em;
    padding-top: 1.2em;
    
}
.link {
    
    color: rgb(3, 29, 9);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}


.up {
  
  background: rgb(141, 250, 147);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (max-width:1500px){
    
.main {
    padding: 0;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}

.box h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 1.5em;
    color: #044463;
    text-transform: uppercase;
}

@media (max-width:1024px){


/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
   
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: -10px;
  left: 0;
}
.menu {
    
    width: 30vw;
    background-color: #070a0e;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
    color: white;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.main {
    padding: 0 2em;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}
.box {
    margin:0;
    position: relative;
    max-width: 90%;
   
    background: rgba(231, 233, 238, 0.472);
    box-shadow: 0 0.4em 1em rgb(0, 0, 0 ,.5);
}

.box h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 3em;
    color: #044463;
    text-transform: uppercase;
}
.box p {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
} 
.photo {
    position: relative;
    float: right;
    padding: 2em;
    height: 10em;
    width: 10em;
}

#time {
     text-align: center;
     font-size: 1.2em;
     margin-top: 1em;
}

    
 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 1em;
text-align: center;
  display: none;


}
ul li {
    list-style: none;
    font-size: 2em;
    padding-top: 1.2em;
    
}
.link {
    
    color: rgb(3, 29, 9);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}


.up {
  
  background: rgb(141, 250, 147);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

}

@media (max-width:800px){
    
 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 1.2em;
    color: #044463;
    text-transform: uppercase;
}


#time {
     text-align: center;
     font-size: 1em;
     margin-top: 1em;
}

.photo {
    position: relative;
    float: right;
    padding: 1em;
    height: 7em;
    width: 7em;
}
}
@media (max-width:400px){

.box p {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
    text-align: justify;
} 

.main {
    padding: 0 0;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}

.box {
    margin: 1em 1em;
    position: relative;
    max-width: 70%;
    padding: 3em;
    background: rgba(231, 233, 238, 0.472);
    box-shadow: 0 0.4em 1em rgb(0, 0, 0 ,.5);
}

.photo {
    position: relative;
    float: right;
    padding: 0.7em;
    height: 5em;
    width: 5em;
}

 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 0.7em;
    color: #044463;
    text-transform: uppercase;
}
}