body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 228);
    font-family: 'Courgette', cursive;
}

body {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  height: 50vh;
}
#slider {
  height: 50vh;
  width: 45vw;
  margin: 10em auto;
  position: relative;
  border: 10px solid skyblue;
  box-shadow: 0 0 0.5em 0.3em snow;
}
button {
  padding: 0.6em;
  border: none;
  background: rgb(46, 46, 248);
  color: white;
  font-size: 2em;
  position: absolute;
  top: 40%;
  cursor: pointer;
}
.next {
  margin-left: 42vw;
  border-radius: 10px 0 0 10px;
}
.prev {
  border-radius: 0 10px 10px 0;
}



#slide {
    height: 60vh;
    width: 50vw;
    border:1px solid blue;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 1.2em 1.2em 0;
    margin-top: 10vh;
    margin-left: 25vw;
}
#time {
     text-align: center;
     font-size: 2em;
}


ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;


}
ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(10, 9, 9);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
  cursor: pointer;
}


/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
    display: none;
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2c3e50;
  top: -10px;
  left: 0;
}
.menu {
    height: 100vh;
    width: 30vw;
    background-color: #ccdff8;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.up {
  width: 100vw;
  background: rgb(187, 198, 248);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width: 1024px){
    
#slide {
    height: 40vh;
    width: 60vw;
    border:1px solid blue;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 1.2em 1.2em 0;
    margin-top: 20vh;
    margin-left: 20vw;
}
}

@media (max-width: 400px){
    
#slide {
    height: 30vh;
    width: 70vw;
    border:1px solid blue;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 1.2em 1.2em 0;
    margin-top: 20vh;
    margin-left: 10vw;
}
}