
    
@import url('<link href="https://fonts.googleapis.com/css?family=Courgette|Niconne|Poppins:500&display=swap" rel="stylesheet">');
body {
    height: 100vh;
    margin: 0;
    padding:0;
   background-color: #e0effa;
   background-size: cover;
   background-position: center;
   font-family: 'Courgette', cursive;
}

        
 #Mail, #pass, #user, #nom, #prénom, #day, #adress,
#zip, #ville, #phone, #email  {
    background: #cad1e2;
    padding: 0.6em 0.6em;
    margin: 1em 1em;
    width: 30vw;
    border-radius: 10px;
    outline: 1;
    font-size: 1em;
    font-family: "Roboto", sans-serif;

}
 #submit {
   background: #53b6f8;
    padding: 0.8em 0.8em;
    margin: 1em 1em;
    width: 32vw;
    border-radius: 10px;
    outline: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

#submit:hover, #submit:active {
    background: #044463;
    color: white;
}

h1 {
    text-align: center;
    margin: 0 0.4em;
    padding: 1em 0.6em;
    font-size: 2.5em;
    color: rgb(112, 114, 248);
    
}
#contact {
    display: none;
}
    
#time {
     text-align: center;
     font-size: 1.2em;
     margin-top: 0.8em;
}    
.message {
    padding-bottom: 2em;
}



 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;


}

ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
  
    
}
.link {
    
    color: rgb(30, 18, 73);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}

/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
    
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #e0effa;
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #e0effa;
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #e0effa;
  top: -10px;
  left: 0;
}
.menu {
   
    width: 30vw;
    background-color: #0b2b53;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
    color: white;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.up {
  width: 100vw;
  background: rgb(184, 193, 243);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media (max-width:1024px){

    
 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;
display: none;

}

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
   
  
}
}
    @media (max-width:800px) {

        
.box #Mail, #pass, #user, #nom, #prénom, #day, #adress,
#zip, #ville, #phone, #email  {
    background: #cad1e2;
    padding: 0.6em 0.6em;
    margin: 1em 1em;
    width: 50vw;
    border-radius: 10px;
    outline: 1;
    font-size: 1em;
    font-family: "Roboto", sans-serif;

}
 #submit {
   background: #53b6f8;
    padding: 0.8em 0.8em;
    margin: 1em 1em;
    width: 50vw;
    border-radius: 10px;
    outline: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}
    }  
    
    @media (max-width:500px) {

        
.box #Mail, #pass, #user, #nom, #prénom, #day, #adress,
#zip, #ville, #phone, #email  {
    background: #cad1e2;
    padding: 0.6em 0.6em;
    margin: 1em 1em;
    width: 80vw;
    border-radius: 10px;
    outline: 1;
    font-size: 1em;
    font-family: "Roboto", sans-serif;

}
 #submit {
   background: #53b6f8;
    padding: 0.8em 0.8em;
    margin: 1em 1em;
    width: 80vw;
    border-radius: 10px;
    outline: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}
    }  