
@import url('<link href="https://fonts.googleapis.com/css?family=Courgette|Niconne|Poppins:500&display=swap" rel="stylesheet">');
body {

    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(235, 250, 183);
    font-family: 'Courgette', cursive;
}
.main {
  
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}

 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 3em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
} 
.photo {
    position: relative;
    float: left;
    padding: 1em;
    height: 10em;
    width: 10em;
}

#time {
     text-align: center;
     font-size: 2em;
     margin-top: 1em;
}


 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;



}

ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color:rgb(3, 22, 13);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;

  cursor: pointer;
}

.up {
  
  background: rgb(205, 247, 181);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}



/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
   
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: rgb(235, 250, 183);
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: rgb(235, 250, 183);
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: rgb(235, 250, 183);
  top: -10px;
  left: 0;
}
.menu {

    width: 30vw;
    background-color: #070a0e;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}
@media (max-width:2000px){

    
 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 2em;
    color: #044463;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}
@media (max-width:1100px){

    body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(252, 250, 179);
    font-family: 'Courgette', cursive;
}


#time {
     text-align: center;
     font-size: 1.2em;
     margin-top: 1em;
}

.main {
   
    display: flex;
    justify-content: center;
   width: 100%;
    align-items: center;
  
}
body {
    
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(235, 250, 183);
    font-family: 'Courgette', cursive;
}

.photo {
    position: relative;
    float: right;
    padding: 1em;
    height: 10em;
    width: 10em;
}

.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
    color: white;
}

.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:black;
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:black;
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:black;
  top: -10px;
  left: 0;
}
ul {
    display: none;
}
}
@media (max-width:400px){

    
 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 0.8em;
    color: #044463;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#time {
     text-align: center;
     font-size: 1em;
     margin-top: 0.6em;
}

.photo {
    position: relative;
    float: right;
    padding: 0.5em;
    height: 6em;
    width: 6em;
}
}