
@import url('<link href="https://fonts.googleapis.com/css?family=Courgette|Niconne|Poppins:500&display=swap" rel="stylesheet">');
body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(237, 240, 226);
    font-family: 'Courgette', cursive;
}
.main {
    padding: 0 10em;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}

 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 3em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1em;
    text-align: justify;
} 
.photo {
    position: relative;
    float: left;
    padding: 2em;
    height: 10em;
    width: 15em;
    padding-bottom: 1.5rem;
}

#time {
     text-align: center;
     font-size: 2em;
     margin-top: 1em;
}


 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;

}


ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(68, 29, 243);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}



.up {
  
  background: rgb(140, 215, 250);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
    
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(237, 240, 226);
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(237, 240, 226);
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(237, 240, 226);
  top: -10px;
  left: 0;
}
.menu {
  
    width: 30vw;
    background-color: #070a0e;
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}
@media (max-width:1024px){

    
.main {
    padding: 0;
    display: flex;
    justify-content: center;
  
    align-items: center;
  
}

 ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;
display: none;
}

.menu {
   
    width: 30vw;
    background-color: #070a0e;
}

.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
    color: white;
}

.photo {
    position: relative;
    float: right;
    padding: 1em;
    height: 10em;
    width: 15em;
    padding-bottom: 1.5rem;
}

#time {
     text-align: center;
     font-size: 1.2em;
     margin-top: 1em;
}
}
@media (max-width:400px){


.photo {
    position: relative;
    float: right;
    padding: 1em;
    height: 7em;
    width: 10em;
    padding-bottom: 1.5rem;
}

h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 1.5em;
    color: #044463;
    text-transform: uppercase;
}

}