
@import url('<link href="https://fonts.googleapis.com/css?family=Courgette|Niconne|Poppins:500&display=swap" rel="stylesheet">');

body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 228);
    font-family: 'Courgette', cursive;
}
/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
    
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color:rgb(220, 241, 228);
  top: -10px;
  left: 0;
}
.menu {
    height: 100vh;
    width: 30vw;
    background-color: #070a0e;
    
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.main {
    padding: 0;
   
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 3em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    text-align: justify;
} 
.photo {
    margin-left: 40vw;
    padding: 1em;
    justify-content: center;
    height: 20vh;
    width: 18vw;
}

#time {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

main {

    
    width: 100vw;
}
    

ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;


}
ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(15, 11, 65);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}



.up {
  
  background: rgb(158, 163, 238);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}
@media (max-width: 1024px){


body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 228);
    font-family: 'Courgette', cursive;
}
/* hamburger menu */

.toggle-btn {
    width: 2em;
    height: 1em;
    position: relative;
    float: right;
    margin-top: 0.8em;
    margin-right: 1em;
    cursor: pointer; 
  
  
}
.toggle-btn span {
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #0d0d0e;
  top: 20px;
  left: 0;
}

.toggle-btn span:before {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #0c0d0e;
  top: 10px;
  left: 0;
}

.toggle-btn span:after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #0d0d0e;
  top: -10px;
  left: 0;
}
.menu {
   
    width: 30vw;
    background-color: #070a0e;
    
}
.menu a {
    font-family: sans-serif;
    text-align: center;
    padding-top: 1em;
    color: white;
}
.nav {
    margin-left: -30vw;
    transition-duration: 0.2s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.2s;

}

.main {
    padding: 0;
   
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
 h1 {
    text-align: center;
    margin: 0 0.8em;
    padding: 0;
    font-size: 1.5em;
    color: #044463;
    text-transform: uppercase;
}
 p {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    text-align: justify;
} 
.photo {
    margin-left: 40vw;
    padding: 1em;
  
    height: 15vh;
    width: 18vw;
}

#time {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.5em;
    text-align: center;
}

main {

    
    width: 100vw;
}
    

ul {
display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2em;
text-align: center;
display: none;
 

}
ul li {
    list-style: none;
    font-size: 1.3em;
    padding-top: 2em;
    
}
.link {
    
    color: rgb(15, 11, 65);
    font-weight: 700;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.4ms;
    padding: 0.2em 0.5em;
    display: block;
    margin-bottom: 2em;
    cursor: pointer;
}



.up {
  
  background: rgb(158, 163, 238);
  height: 7em;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

}


@media (max-width: 800px){


 h1 {
    text-align: center;
    margin: 0 0.6em;
    padding: 0;
    font-size: 1.5em;
    color: #630404;
    text-transform: uppercase;
}

.photo {
    float: right;
    padding: 1em;
   margin: 0;
    height: 10vh;
    width: 12vw;
}

 p {
    margin: 0;
    padding: 0.8em;
    font-size: 0.9em;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
} 

body {
    max-width: 2500px;
    margin: 0;
    padding:0;
    color: rgb(13, 5, 31);
    background: rgb(220, 241, 225);
    font-family: 'Courgette', cursive;
}

#time {
    padding: 1em;
    font-size: 1em;
    text-align: center;
}
}
@media (max-width: 400px){


.photo {
    float: right;
    
   
    height: 10vh;
    width: 15vw;
}

 h1 {
    text-align: center;
    margin: 0 0.6em;
    padding: 0;
    font-size: 0.8em;
    color: #630404;
    text-transform: uppercase;
}
}
